*{
    margin: 0;
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
    font-family: 'Open Sans', sans-serif;
}

.text-primary{
    color: #FD6E0A;
}
.btn{
   color: #ffffff;
   font-weight: 700;
   font-size: 20px;
   padding: 18px 35px;
    width: 150px;
    height: 60px;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.header{
    background-image: url(../Portfolio/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    height: 790px;
}
/* header and navigation styles */
nav{
   
    display: flex;
    justify-content: space-between;
    /* margin: 50px 200px; */
    margin: 20px 150px 20px 200px;
}


nav ul{
    display: flex;
    align-items: center;
 
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav li{
    list-style-type: none;
    margin-left: 50px;

}

/* banner */

.banner{
    /* margin: 0 200px; */
    margin:0 150px 0 200px;
    padding-top: 103px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


.banner-sub{
   
font-weight: 500;
font-size: 45px;
line-height: 40px;
}
.banner-name{
   
font-weight: 700;
font-size: 70px;
line-height: 115px;
}

.banner-text{
color: #757575;
font-weight: 400;
margin-top: 10px;
margin-bottom: 30px;
}
 

.btn2{
    color: #ffffff;
    background-color: #FD6E0A;
    border: none;
    border-radius: 6px;
    width: 200px;
    height: 60px;
    padding: 18px 17px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
.btn-contact{

    background-color:  #ffffff;
    border: 1px solid #FD6E0A;
    border-radius: 6px;
    width: 140px;
    height: 60px;
    padding: 18px 17px;
    margin-left: 30px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}


/* about me section */

.about{
    background-color: #FFF8F3;
    border-radius: 10px;
    margin: 100px 200px 90px 200px;
    padding: 131px 157px;
    text-align: center;
  
}

.a-title{
text-align: center;
margin-top: 0;
margin-bottom: 30px;
font-size: 35px;
line-height:48px;
}

.a-text{
    text-align: center;
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400px;
    margin-bottom: 30px;
}

.a-info{
    display: flex;
    justify-content: space-around;
    text-align:center;
color:#757575;

}

.para{
    margin-left:8px;
     
}

.info-des{
    display: block;
    color: #000000;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 10px;
    margin-top: 8px;
}

/* services */

.s-title{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.service-des{
    text-align: center;
    padding:30px 345px 50px 345px;
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
}

.service-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 230px 30px 230px;
}

.service-container .serv-detail{
    box-shadow: 0px 0px 15px 4px #0000000b;
    border: 1px solid #75757535;
    margin: 0 24px ;
    border-radius: 5px;
    padding: 0 30px;
    transition: 0.4s;
}

.service-container .serv-detail:hover{
    box-shadow: 1px 1px 13px 2px #00000063;  
}

.service-container .serv-detail .icon{
    margin: 30px 0;
}

.serv-detail .skill-detail{
    color: #757575;
    text-align: justify;
    font-weight: 400;
font-size: 13px;
margin: 20px 0px 30px 0;
}

/* education and title */

.eduex-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    line-height: 36px;
    margin-top: 130px;
    margin-bottom: 113px;
}

.total-container{
    display: flex;
    margin: 0 230px;
    justify-content: space-between;
}

.edu-container{
    padding-right: 8px;
}

.mini-con-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 8px;
    
}

.inner-con{
    margin: 30px 0;
}

.inner-con h4{
    color: #474747;
    font-weight: 550;
font-size: 20px;
line-height: 34px;
}

.inner-con p{
    color: #757575;
    font-weight: 520;
font-size: 15px;
line-height: 20px;
}

.total-container .desc{
    font-weight: 350;
font-size: 12px;
line-height: 20px;
margin-top: 9px;
margin-bottom: 30px;
}

#under{
    border-bottom: 1px solid #D1D1D1;
}

 .for-btn .btn-bottom{
    color: #ffffff;
    background-color: #FD6E0A;
    border: none;
    border-radius: 6px;
    width: 200px;
    height: 60px;
    padding: 18px 17px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.for-btn{
   text-align: center;
   padding-bottom: 100px;
}


/* contact section */

.contact{
    background-color: #FFF8F3;
    display: flex;
    justify-content:space-between;
   padding-bottom: 50px;
}

.social-container{
   margin: 100px 90px 100px 230px;
    text-align:left;
    width: 600px;
 
}
.social-title{
    font-weight: 700;
font-size: 25px;
line-height: 30px;
margin-bottom: 30px;
}

.social-des{
    color: #757575;
    font-weight: 400px;
    padding-right: 70px;
    margin-bottom: 30px;
}

.social-icon > img{

  padding: 0 8px 8px 5px;
}

.form{
    margin-right: 230px;
    
}
.form-title {
    text-align: left;
    margin:30px 0;
}

input {
    border: 0;
    border-radius: 5px;
    width: 361px;
height: 54px;
margin: 9px 0;
}
textarea{
    border: 0;
    border-radius: 5px;
    width: 361px;
height: 100px;
resize: none;
margin: 9px 0;
}

::placeholder{
    padding: 13px;
    color: #75757582;
}

.form-btn{
    color: #ffffff;
    background-color: #FD6E0A;
    border: none;
    border-radius: 3px;
    width: 100px;
    height: 40px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    margin-left: 2px;

}

